[Unit]
Description=WafCdn Service
After=network.target

[Service]
Type=simple
ExecStart=$installpath/wafcdn
WorkingDirectory=$installpath

[Install]
WantedBy=multi-user.target